
<form>
  <div class="row">
    <div class="col-md-3">
      <div class="input-group">
        <label for="ac1">AC1: </label>
        <input type="number" id="ac1" [(ngModel)]="ac1" name="ac1" class="form-control">
      </div>
    </div>

    <div class="col-md-3">
      <div class="input-group">
        <label for="ac2">AC2: </label>
        <input type="number" id="ac2" [(ngModel)]="ac2" name="ac2" class="form-control">
      </div>
    </div>

    <div class="col-md-3">
      <div class="input-group">
        <label for="ag">AG: </label>
        <input type="number" id="ag" [(ngModel)]="ag" name="ag" class="form-control">
      </div>
    </div>

    <div class="col-md-3">
      <div class="input-group">
        <label for="af">AF: </label>
        <input type="number" id="af" [(ngModel)]="af" name="af" class="form-control">
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <button type="button" (click)="calcular()" class="btn btn-primary">Calcular</button>
    </div>
  </div>
</form>