<div class="container">
  <div class="card">
    <h1>Calcular Média</h1>
    <div class="card-content">
      <app-calculadora-media></app-calculadora-media>
    </div>
  </div>

  <div class="card">
    <h1>Calculadora</h1>
    <div class="card-content">
      <app-calculadora></app-calculadora>
    </div>
  </div>

  <div class="card">
    <h1>Cadastro Aluno</h1>
    <div class="card-content">
      <app-cadastro-aluno></app-cadastro-aluno>
    </div>
  </div>

  <div class="card">
    <h1>Apólice De Seguro</h1>
    <div class="card-content">
      <app-apolice-seguro></app-apolice-seguro>
    </div>
  </div>
</div>
