<form #apoliceForm="ngForm" (ngSubmit)="calcularApolice()">
  <div class="form-group input-group">
    <label for="nomeSegurado">Nome do Segurado:</label>
    <input type="text" id="nomeSegurado" name="nomeSegurado" [(ngModel)]="apolice.nomeSegurado" required />
  </div>

  <div class="form-group input-group">
    <label for="sexo">Sexo:</label>
    <select id="sexo" name="sexo" [(ngModel)]="apolice.sexo" required>
      <option value="masculino">Masculino</option>
      <option value="feminino">Feminino</option>
    </select>
  </div>

  <div class="form-group input-group">
    <label for="idade">Idade:</label>
    <input type="number" id="idade" name="idade" [(ngModel)]="apolice.idade" required />
  </div>

  <div class="form-group input-group">
    <label for="valorAutomovel">Valor do Automóvel:</label>
    <input type="number" id="valorAutomovel" name="valorAutomovel" [(ngModel)]="apolice.valorAutomovel" required />
  </div>

  <button type="submit">Calcular Apólice</button>
</form>

<div *ngIf="valorApolice !== undefined">
  <p>Valor da Apólice: {{ valorApolice | currency:'BRL':'symbol':'1.2-2' }}</p>
</div>
